.movies {
  margin: 0 auto 80px;
  max-width: 1140px;
}

.movies__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px 17px;
}

.movies__more {
  margin-top: 80px;
  padding: 11px 0 9px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: #f9f9f9;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .movies {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    margin: 36px auto 48px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
