.saved-movies {
  margin: 0 auto 342px;
  max-width: 1140px;
  height: 100%;
  padding: 0 70px 0;
}

.saved-movies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}

@media screen and (max-width: 800px) {
  .saved-movies {
    padding: 0 30px;
  }
  .saved-movies__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .saved-movies {
    margin-bottom: 423px;
    padding: 0 10px;
  }
  .saved-movies__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    row-gap: 0;
  }
  
}